@charset "UTF-8";

.box {
  position: relative;
}

.left {
  position: absolute;
  left: 0;
  width: 200px;
  height: 500px;
  background-color: black;
}

.right {
  margin-left: 200px;
  height: 800px;
  background-color: red;
}