@charset "UTF-8";

.box {
  display: flex;
}

.left {
  width: 200px;
  // 禁止缩小
  flex-shrink: 0;
  height: 500px;
  background-color: black;
}

.right {
  height: 800px;
  // 剩余空间分配给.right
  flex-grow: 1;
  background-color: red;
}