@import './comm';


.main {
  width: 76.8vw;
  height: 108.8vw;
  // background-color: pink;
  margin: 14vw auto;

  .logo {
    margin: 0 auto;
    width: 29vw;
    height: 26vw;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .user_messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 18.67vw;
    width: 76.8vw;
    height: 50vw;

    input {
      position: relative;
      box-sizing: border-box;
      opacity: .5;
      outline: none;
      position: relative;
      width: 100%;
      height: 10.13vw;
      border-radius: 5vw;
      padding-left: 15vw;
      background-color: #fff;
      z-index: 99;
    }

    .name,
    .iphone,
    .id_card {
      position: relative;


      p {
        position: absolute;
        border-radius: 10vw;
        text-align: center;
        margin-left: 20vw;
        width: 50%;
        border: 1px solid rgb(4, 106, 115);
        border-top: 0;
        border-bottom: 0;
        height: 80%;
        top: 0;
        left: 0;
        transition: all .5s ease;
        line-height: 10vw;
        font-size: 3.47vw;
      }

      .p_active {
        opacity: 1 !important;
        transform: translate(0, -100%) !important;
        color: rgb(7, 157, 7);
      }

      .p_active_remove {
        opacity: 1 !important;
        transform: translate(0, -100%) !important;
        color: rgb(169, 54, 54);
      }

      .p_clear {
        opacity: 0 !important;
        transform: translate(0, 0) !important;
      }
    }

    .name {
      &::after {
        content: '姓名:';
        position: absolute;
        top: 50%;
        left: 5.47vw;
        z-index: 11;
        transform: translateY(-50%);
        color: #000;
        font-size: 3.47vw;
      }
    }

    .iphone {
      &::after {
        content: '+86';
        position: absolute;
        top: 50%;
        left: 5.47vw;
        z-index: 11;
        transform: translateY(-50%);
        color: #000;
        font-size: 3.47vw;
      }
    }

    .id_card {
      input {
        padding-left: 25vw;
      }

      &::after {
        content: '身份证号码:';
        position: absolute;
        top: 50%;
        left: 5.47vw;
        z-index: 11;
        transform: translateY(-50%);
        color: #000;
        font-size: 3.47vw;
      }
    }
  }

  .btn_list {
    display: flex;
    justify-content: space-between;
    margin-top: 10.27vw;

    button {
      width: 32.67vw;
      height: 10.13vw;
      border-radius: 5vw;
      opacity: .88;
      color: var(--main-color-one-);
      box-shadow: -1px 1px 2px #000;
    }
  }
}