@charset "UTF-8";

body {
  overflow-x: hidden;
  min-width: 1200px;
}

// 头部  导航  -  首图

header {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;

    .logo {
      height: 33px;
      width: 55px;

      img {
        width: 100%;
      }
    }

    .nav-list {
      ul {
        display: flex;
        align-items: center;
        font-size: 15px;

        li {
          margin: 0 25px;
          line-height: 62px;

          &:hover {
            color: #19bc64;
            border-bottom: 2px solid #19bc64;
          }
        }
      }
    }
  }

  .big-img {
    position: relative;
    width: 100%;
    height: 758px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dot-item {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        width: 14px;
        height: 14px;
        margin: 0 8px;
        border: 1px solid #fff;
        border-radius: 50%;

        &:first-child {
          background-color: #fff;
        }
      }
    }
  }
}





main {

  // 标题
  .main-item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 327px;
    width: 100%;

    h1 {
      font-size: 45px;
      letter-spacing: 16px;
      color: #bebebe;
    }

    .item-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        position: relative;
        font-size: 16px;
        height: 40px;
        width: 176px;
        border: 1px solid #e0e0e0;
        text-align: center;
        line-height: 40px;
        margin-top: 24px;
        margin-bottom: 6px;

        &::after {
          position: absolute;
          top: 50%;
          left: -110%;
          content: "";
          display: block;
          height: 0px;
          width: 210px;
          border-bottom: 1px solid #e0e0e0;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 90%;
          content: "";
          display: block;
          height: 0px;
          width: 210px;
          border-bottom: 1px solid #e0e0e0;
        }
      }

      p {
        font-size: 10px;
        color: #a2a2a2;
      }
    }
  }

  // 内容
  .content-box {
    .living {
      .living-content {
        position: relative;
        width: 100%;
        height: 80%;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .4);
        }

        .list-nav-living ul {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, -50%);
          display: flex;
          width: 500px;
          justify-content: space-between;
          align-items: center;

          li {
            height: 30px;
            text-align: center;
            line-height: 30px;
            padding: 2px 15px;
            background-color: rgba(255, 255, 255, .8);
            border: 1px solid #acacac;
            font-size: 12px;
          }
        }

        .icon-i {
          & i:first-child {
            position: absolute;
            top: 50%;
            text-align: center;
            line-height: 80px;
            font-size: 28px;
            color: #fff;
            transform: translateY(-50%);
            left: 0;
            margin-left: 60px;
            content: "";
            display: block;
            width: 80px;
            height: 80px;
            border: 1px solid #fff;
            border-radius: 50%;
            font-size: 28px;
          }

          & i:last-child {
            position: absolute;
            top: 50%;
            text-align: center;
            line-height: 80px;
            font-size: 28px;
            color: #fff;
            transform: translateY(-50%);
            right: 0;
            margin-right: 60px;
            content: "";
            display: block;
            width: 80px;
            height: 80px;
            border: 1px solid #fff;
            border-radius: 50%;
            font-size: 28px;
          }
        }

        .img-text {
          p {
            position: absolute;
            left: 320px;
            bottom: 120px;
            color: #fff;
            font-size: 14px;
            line-height: 24px;
            width: 647px;
            text-align: right;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        .img-second {
          position: absolute;
          right: 198px;
          bottom: 88px;
          width: 300px;
          height: 300px;
        }

        .img-first {
          position: absolute;
          right: 370px;
          bottom: 206px;
          width: 968px;
          height: 448px;
        }
      }
    }

    .desing {
      .content-desing {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        $teamColor: #3d414b;
        $caseColor: #ca8355;
        $appointmentColor: #764b33;

        .team {
          div {
            background-color: $teamColor  !important;
          }
        }

        .case {
          div {
            background-color: $caseColor  !important;
          }
        }

        .appointment {
          div {
            background-color: $appointmentColor  !important;
          }
        }

        .concept,
        .team,
        .case,
        .appointment {
          position: relative;
          margin: 0 20px;
          width: 228px;
          height: 458px;

          img {
            width: 100%;
            height: 100%;
          }

          .top-box {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: #8c462b;
            text-align: center;
            line-height: 90px;
            color: #fff;

            >div {
              position: absolute;
              bottom: -10px;
              left: 50%;
              width: 20px;
              height: 20px;
              background-color: #8c462b;
              transform: rotate(45deg) translateX(-50%);
            }
          }
        }
      }
    }

    .news {
      width: 100%;

      .content-news {
        position: relative;
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 765px;
        background: url("../assets/index/小banner1.png") no-repeat 0 0 / 100% 100%;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          z-index: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .4);
        }

        .news-nav {
          ul {
            display: flex;
            position: absolute;
            top: 0;
            left: 50%;
            width: 500px;
            transform: translate(-50%, -50%);
            justify-content: space-around;
            align-items: center;

            li {
              height: 30px;
              width: 60px;
              text-align: center;
              line-height: 30px;
              padding: 2px 15px;
              background-color: rgba(255, 255, 255, .8);
              border: 1px solid #acacac;
              font-size: 12px;
            }
          }
        }

        .content-news-box {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .left,
          .right {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
              width: 80px;
              height: 80px;
              border: 1px solid #fff;
              border-radius: 50%;
              font-size: 28px;
            }
          }

          .items-box {
            z-index: 1;
            width: 200px;
            height: 400px;
            // background-color: pink;
          }

          .center {
            flex-grow: 1;
            display: flex;

            .center-left {
              background-color: #fff;
              width: 50%;

              .imgBox {
                width: 100%;
                height: 300px;

                img {
                  width: 100%;
                  height: 100%;
                }

              }

              .textBox {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                padding: 18px 20px;

                h1 {
                  margin-bottom: 10px;
                  font-size: 16px;
                  font-weight: 600;
                }

                p {
                  line-height: 20px;
                  font-size: 12px;
                }

                .details-btn {
                  position: absolute;
                  top: 65px;
                  right: 20px;
                  width: 100px;
                  height: 20px;
                  text-align: center;
                  line-height: 20px;
                  font-size: 12px;
                  border-radius: 10px;
                  border: 1px solid #000;
                }
              }
            }

            .center-right {
              margin-left: 10px;
              display: flex;
              flex-direction: column;

              width: 50%;
              height: 100%;

              .item {
                position: relative;
                display: flex;
                align-items: center;
                height: 133px;
                background-color: #fff;

                .details-btn {
                  position: absolute;
                  bottom: 20px;
                  right: 30px;
                  width: 100px;
                  height: 20px;
                  text-align: center;
                  line-height: 20px;
                  font-size: 12px;
                  border-radius: 10px;
                  border: 1px solid #000;
                }

                .text-box {
                  box-sizing: border-box;
                  padding: 10px 20px;

                  h1 {
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: 400;
                  }

                  p {
                    line-height: 20px;
                    font-size: 12px;
                  }
                }

                .img-box {
                  width: 132px;
                  padding: 10px;
                  height: 106px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}



// footer 
footer {
  width: 100%;
  display: flex;
  padding: 50px;
  height: 314px;
  align-items: center;
  justify-content: center;
  background-color: #202020;

  .left,
  .right {
    display: flex;
    align-items: start;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0 50px;

      :first-child {
        font-size: 16px;
        font-weight: 600;
        color: #979797;
      }

      li {
        font-size: 14px;
        margin: 12px 0;
        color: #919191;
      }
    }
  }

  .right {
    position: relative;

    &::before {
      position: absolute;
      left: 15px;
      top: 133px;
      content: "";
      height: 100px;
      border-left: 1px solid #4d4d4d;
    }

    li {
      display: flex;

      i {
        text-align: center;
        line-height: 20px;
        font-size: 26px !important;
      }

      p {
        margin-left: 20px;
        text-align: left;
        font-size: 14px;
        color: #919191;
      }
    }
  }
}