.box {
  position: relative;
}

.left {
  position: absolute;
  left: 0;
  width: 200px;
  height: 500px;
  background-color: black;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 500px;
  background-color: black;
}

.center {
  margin: 0 200px;
  height: 800px;
  background-color: red;
}
