body {
  min-width: 1200px;
  overflow-x: hidden;
}

header {
  width: 100%;
}

header .header-top {
  width: 100%;
  height: 25px;
  background-color: skyblue;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 112px;
  padding-bottom: 20px;
}

.container .logo {
  height: 64px;
  width: 121px;
}

.container .logo img {
  height: 100%;
  width: 100%;
}

.container .nav-list ul {
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: flex-end;
}

.container .nav-list ul li {
  margin: 0 16px;
  font-size: 14px;
  padding-bottom: 10px;
}

.container .nav-list ul li:first-child {
  margin-left: 60px;
  border-bottom: 1px solid #ccc;
}

.container .search {
  display: flex;
}

.container .search input {
  width: 167px;
  height: 30px;
  border: 1px solid #000;
  border-right: 0;
}

.container .search i {
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  border-left: 0;
}

.big-img-box {
  width: 100%;
  min-height: 400px;
}

.big-img-box img {
  width: 100%;
}

main {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .mian-each-header fieldset {
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #6db6ff;
  padding: 5px 20px;
  width: 335px;
  height: 48px;
}

main .mian-each-header fieldset legend {
  font-size: 24px;
  font-weight: 600;
}

main .mian-each-header fieldset p {
  font-size: 12px;
  font-weight: 600;
}

main .about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .about-us .about-message-list {
  box-sizing: border-box;
  display: flex;
}

main .about-us .messages-mission {
  font-size: 14px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .about-us .messages-mission h3 {
  font-size: 16px;
  font-weight: 600;
}

main .about-us .messages-mission p {
  color: #828282;
}

main .about-us .message {
  display: flex;
  width: 320px;
  height: 320px;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 30px;
}

main .about-us .message .mission .mission-img {
  width: 130px;
  height: 130px;
}

main .about-us .message .mission .mission-img img {
  width: 100%;
  height: 100%;
}

main .our-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .friend-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 28px;
  width: 100%;
  border: 1px solid #ccc;
}

footer .list {
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  height: 170px;
  width: 100%;
  display: flex;
}

footer .list .messages-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .list .messages-list ul {
  box-sizing: border-box;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 35px;
}

footer .list .messages-list ul li:first-child {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

footer .list .messages-list ul li {
  margin: 8px 0;
  font-size: 12px;
}

footer .list .more-messages {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
}

footer .list .more-messages .picture-messages {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .list .more-messages .picture-messages img {
  margin: 10px;
}

footer .list .more-messages .picture-messages .messages h3 {
  font-size: 15px;
  font-weight: 600;
}

footer .list .more-messages .picture-messages .messages p {
  font-size: 10px;
}

footer .list .more-messages .iphone-time-messages {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

footer .list .more-messages .iphone-time-messages p {
  font-size: 10px;
}

footer .list .more-messages .iphone-time-messages img {
  width: 72px;
  height: 16px;
}

footer .list .more-messages .erweima-message {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 155px;
}

footer .list .more-messages h3 {
  margin: 0 0 10px 10px;
}

footer .trademark-message {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  font-size: 14px;
  width: 100%;
  height: 70px;
  background-color: #6db6ff;
}

main {
  display: flex;
  flex-direction: column;
}

main .header-title {
  width: 350px;
  display: flex;
  align-items: center;
  margin: 50px 0;
}

main .header-title .title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}

main .header-title .title h1 {
  letter-spacing: 13px;
  text-align: center;
  width: 150px;
  font-size: 18px;
}

main .header-title .title p {
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
}

main .header-title::before {
  content: "";
  width: 150px;
  height: 0;
  border-top: 1px solid #9ac1c0;
}

main .header-title::after {
  content: "";
  width: 150px;
  height: 0;
  border-top: 1px solid #9ac1c0;
}

main .box-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
}

main .box-login .login {
  width: 381px;
  height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .box-login .login .user-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .box-login .login .user-messages .input-text input {
  margin: 12px 0;
  border-radius: 5px;
  background-color: #ecf5ff;
  border: 1px solid #ccc;
  width: 266px;
  height: 20px;
}

main .box-login .login .user-messages .input-text:nth-child(3) input {
  width: 100px !important;
}

main .box-login .login .user-messages .input-text label {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  text-align: right;
}

main .box-login .login .user-messages .checkbox-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .box-login .login .user-messages .checkbox-time span {
  margin-left: 5px;
}

main .box-login .login .login-registered-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .box-login .login .login-registered-page button {
  width: 92px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border: 0;
  border-radius: 5px;
  margin: 0 5px;
}

main .box-login .login .login-btn button {
  width: 95px;
  height: 24px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  border: 0;
  background-color: #b3d9ff;
}

main .box-login .login .login-btn a {
  color: #b30000;
  font-size: 12px;
}

main .box-login .login-img {
  width: 381px;
  height: 258px;
  background-color: skyblue;
}
