@charset "UTF-8";

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left top, #30cfd0 0%, #330867 100%) no-repeat;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 图标-链接-盒子 */
.icon-link-box {
  animation: fade-in;
  position: relative;
  top: 0;
  left: 0;
  animation-duration: 2.6s;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-link-box > a {
  margin: 0 20px;
  color: rgba(220, 217, 217, 0.777);
  font-size: 20px;
}


/* 图片/照片盒子 */
.PictureBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.PictureBox ul{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.PictureList li{
  overflow: hidden;
  margin: 0 10px;
  width: 200px;
  height: 250px;
}
.PictureList li img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  /* object-position: top; */
}