@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 75px;
}

body {
  // margin-top: 2.5rem;
  margin-bottom: 1.8rem;
}

footer {
  box-sizing: border-box;
  padding: 0.147rem 0.693rem 0.187rem 0.613rem;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.8rem;
  width: 100%;
  background-color: #fff;

  .bottom-nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    :nth-child(2) .nav-logo {
      background: url("../assets/images/jinglingtu.png") no-repeat -1.15rem 0 / 6.2rem 5.64rem !important;
    }
    :nth-child(3) .nav-logo {
      background: url("../assets/images/jinglingtu.png") no-repeat -2.24rem 0 / 6.2rem 5.64rem !important;
    }
    :nth-child(4) .nav-logo {
      background: url("../assets/images/jinglingtu.png") no-repeat -3.4rem 0 / 6.2rem 5.64rem !important;
    }
    li {
      list-style: none;
      width: 1.0133rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .nav-logo {
        display: inline-block;
        width: 0.973rem;
        height: 0.973rem;
        margin-bottom: .1333rem;
        background: url("../assets/images/jinglingtu.png") no-repeat 0 -1.1333rem / 6.2rem 5.64rem;
      }

      .nav-title {
        display: block;
        text-align: center;
        font-size: 0.347rem;
      }
    }
  }
}