@charset "UTF-8";
@import "./common";

header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 9.387rem;
  height: 0.76rem;
  margin: 0.64rem 0.307rem 0.48rem ;
  font-size: 0.347rem;
  h3 {
    font-weight: 400;
  }
  .back {
    width: 1.64rem;
	  height: 0.76rem;
    text-align: center;
    line-height: 0.76rem;
	  background-color: #ffffff;
	  border-radius: 0.267rem;
    border: solid 0.027rem #ff9344;;
  }
  .select {
    position: relative;
    width: 2.12rem;
    height: 0.747rem;
    border: 0.027rem solid #ff9344;
  
    :first-child {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-right: .2667rem;
      font-size: 0.347rem;
    }
  
    :nth-child(2) {
      position: absolute;
      right: 0.147rem;
      top: 0.280rem;
      width: 0;
      height: 0;
      border-color: #ff9344 transparent transparent transparent;
      border-style: solid;
      border-top-width: .1333rem;
      border-bottom-width: .1333rem;
      border-left-width: .1333rem;
      border-right-width: .1333rem;
  
    }
  }
  
}

.search-box {
  display: flex;
  justify-content: center;
  .search {
    position: relative;
    font-size: 0.32rem;
    width:3.547rem;
    height: 0.68rem;
    overflow: hidden;
    border: 0.027rem solid #ff9344;
    border-radius: 0.34rem;
  
    input {
      padding-left: 0.387rem;
      border: none;
      outline: none;
      width: 100%;
      height: 0.68rem;
    }
  
    span {
      position: absolute;
      top: 0.107rem;
      right: 0.213rem;
      width: 0.4667rem;
      height: 0.4667rem;
      background-color: #000;
      background: url("../assets/images/jinglingtu.png") no-repeat -3.9867rem -4.9333rem / 6.2rem 5.64rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.44rem;
  .we-search {
    .title {
      text-align: center;
      font-size: 0.347rem;
      margin-bottom: 0.187rem;
    }
    .item-list {
      width: 6.827rem;
      height: 2.28rem;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        :nth-child(n + 4) {
          margin-bottom: 0.04rem;
        }
        li {
          width: 1.667rem;
          height: 0.853rem;
          font-size: 0.267rem;
          text-align: center;
          line-height: 0.853rem;
          background-color: #dcdcdc;
          
        }
      }
    }
  } 

  .hot-search {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hot-search-header {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.28rem 0 0.52rem;
      margin-bottom: .4667rem;

      .left {
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        .left-img {
          display: block;
          width: 0.747rem;
          height: 0.72rem;
          margin-right: 0.32rem;
          background: url("../assets/images/jinglingtu.png") no-repeat -5.4667rem -3.8267rem / 6.2rem 5.64rem;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        .right-text {
          font-size: 0.32rem;
        }
        .right-img {
          margin-left: 0.107rem;
          display: block;
          width: 0.333rem;
	        height: 0.347rem;
          background:url("../assets/images/jinglingtu.png") no-repeat -3.96rem -4.5333rem / 6.2rem 5.64rem;
        }
      }
    }
    .hot-search-images {
      width: 9.4533rem;
      display: flex;
      justify-content: center;
      .left-img {
        width: 3.733rem;
	      height: 4.693rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .right-img {
        display: flex;
        width: 5.6133rem;
        flex-wrap: wrap;
        margin-left: 0.12rem;
        div {
          overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .item-1 {
          width: 5.6rem;
	        height: 1.96rem;
          margin-bottom: 0.107rem;
        }
        .item-2 {
          width: 2.6rem;
          height: 2.627rem;

        }
        .item-3 {
          width: 2.813rem;
          height: 2.627rem;
          margin-left: .16rem;
        }
      }
    }
  }

  .recom-search {
    width: 10rem;
    .recom-search-header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.28rem 0 0.52rem;
      margin-top: 0.813rem;
      margin-bottom: 0.64rem;
      .left {
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        .left-img {
          display: block;
          width: 0.747rem;
          height: 0.72rem;
          margin-right: 0.32rem;
          background: url("../assets/images/jinglingtu.png") no-repeat -2.2667rem -2.28rem / 6.2rem 5.64rem;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        .right-text {
          font-size: 0.32rem;
        }
        .right-img {
          margin-left: 0.107rem;
          display: block;
          width: 0.333rem;
	        height: 0.347rem;
          background:url("../assets/images/jinglingtu.png") no-repeat -3.96rem -4.5333rem / 6.2rem 5.64rem;
        }
      }
    }
    .recom-list {
      ul {
        box-sizing: border-box;
        display: flex;
        padding: 0 0.28rem;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          width: 2.933rem;
          height: 2.667rem;
          margin-bottom: 0.32rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}



footer {
  .bottom-nav-list {
    :nth-child(3) .nav-logo {
      background: url("../assets/images/jinglingtu.png") no-repeat -2.2667rem -1.1333rem / 6.2rem 5.64rem !important;
    }
    li {
      .nav-logo {
        background: url("../assets/images/jinglingtu.png") no-repeat 0 0 / 6.2rem 5.64rem;
      }

    }
  }
}