@charset "UTF-8";
@import "./common";


header {
  display: flex;
  // position: fixed;
  // top: 0;
  // left: 0;
  z-index: 99;
  // width: 9.5rem;
  // height: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.227rem 0.307rem 0.133rem 0.28rem;
  background-color: #fff;

  .logo {
    width: 1.64rem;
    height: 1.64rem;
  }

  .search {
    position: relative;
    font-size: 0.32rem;
    width: 3.547rem;
    height: 0.68rem;
    overflow: hidden;
    border: 0.027rem solid #ff9344;
    border-radius: 0.34rem;

    input {
      padding-left: 0.387rem;
      border: none;
      outline: none;
      width: 100%;
      height: 0.68rem;
    }

    span {
      position: absolute;
      top: 0.107rem;
      right: 0.213rem;
      width: 0.4667rem;
      height: 0.4667rem;
      background-color: #000;
      background: url("../assets/images/jinglingtu.png") no-repeat -3.9867rem -4.9333rem / 6.2rem 5.64rem;
    }
  }

  .select {
    position: relative;
    width: 2.12rem;
    height: 0.747rem;
    border: 0.027rem solid #ff9344;

    :first-child {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin-right: .2667rem;
      font-size: 0.347rem;
    }

    :nth-child(2) {
      position: absolute;
      right: 0.147rem;
      top: 0.280rem;
      width: 0;
      height: 0;
      border-color: #ff9344 transparent transparent transparent;
      border-style: solid;
      border-top-width: .1333rem;
      border-bottom-width: .1333rem;
      border-left-width: .1333rem;
      border-right-width: .1333rem;

    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.28rem;
  .big-image {
    position: relative;
    width: 10rem;
    height: 3.827rem;
    img {
      width: 100%;
      height: 100%;
    }
    ul {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      :nth-child(2) {
        background-color: rgba(255,255,255,.8);
      }
      li {
        width: 1.733rem;
        height: 0.16rem;
        background-color: rgba(0,0,0,.6);
      }
    }
  }
  .a-bulk {
    margin: 0.44rem 0;
    width: 9.44rem;
    height: 3.88rem;
    // background-color: pink;
    .a-bulk-header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        .left-img {
          display: block;
          width: 0.747rem;
          height: 0.72rem;
          background: url("../assets/images/jinglingtu.png") no-repeat 0 -2.2533rem / 6.2rem 5.64rem;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        .right-text {
          font-size: 0.32rem;
        }
        .right-img {
          margin-left: 0.107rem;
          display: block;
          width: 0.333rem;
	        height: 0.347rem;
          background:url("../assets/images/jinglingtu.png") no-repeat -3.96rem -4.5333rem / 6.2rem 5.64rem;
        }
      }
    }
    .a-bulk-content {
      box-sizing: border-box;
      width: 9.44rem;
      padding: .2133rem 0.893rem 0.413rem 0.747rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      :nth-child(4),:nth-child(3) {
        margin-top: 0.387rem;
      }
        img {
          width: 3.213rem;
          height: 1.253rem;
        }
    }
  }
  .like {
    margin: 0.44rem 0;
    width: 9.44rem;
    .like-header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        font-size: 0.4rem;
        display: flex;
        align-items: center;
        .left-img {
          display: block;
          width: 0.747rem;
          height: 0.72rem;
          background: url("../assets/images/jinglingtu.png") no-repeat -1.099rem -2.1667rem / 6.2rem 5.64rem;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        .right-text {
          font-size: 0.32rem;
        }
        .right-img {
          margin-left: 0.107rem;
          display: block;
          width: 0.333rem;
	        height: 0.347rem;
          background:url("../assets/images/jinglingtu.png") no-repeat -3.96rem -4.5333rem / 6.2rem 5.64rem;
        }
      }
    }
    .like-content {
      ul {
        li {
          position: relative;
          width: 100%;
          height: 2.267rem;
          display: flex;
          .item-img {
            width: 2.813rem;
            height: 2.187rem;
            img {
              width: 100%;
              height: 100%;
            }
            
          }
          .item-messages-box {
            .text {
              margin-left: 0.187rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              h1 {
                font-size: 0.4rem;
              }
              p {
                font-size: 0.293rem;
                color: #494949;
                span {
                  font-size: 0.293rem;
                  color: #494949;
                }
              }
              span {
                margin-top: 0.293rem;
                font-size: 0.427rem;
                color: #ff9344;
              }
            }
            .more-messages {
              text-align: right;
              font-size: 0.293rem;
              .distance {
                position: absolute;
                right: 0.04rem;
                top: 0.493rem;
              }
              .num-shop {
                position: absolute;
                bottom: 0.32rem;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}