body {
  overflow-x: hidden;
  min-width: 1200px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
}

header nav .logo {
  height: 33px;
  width: 55px;
}

header nav .logo img {
  width: 100%;
}

header nav .nav-list ul {
  display: flex;
  align-items: center;
  font-size: 15px;
}

header nav .nav-list ul li {
  margin: 0 25px;
  line-height: 62px;
}

header nav .nav-list ul li:hover {
  color: #19bc64;
  border-bottom: 2px solid #19bc64;
}

header .big-img {
  position: relative;
  width: 100%;
  height: 758px;
}

header .big-img img {
  width: 100%;
  height: 100%;
}

header .dot-item {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}

header .dot-item ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .dot-item ul li {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  border: 1px solid #fff;
  border-radius: 50%;
}

header .dot-item ul li:first-child {
  background-color: #fff;
}

main .main-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 327px;
  width: 100%;
}

main .main-item-header h1 {
  font-size: 45px;
  letter-spacing: 16px;
  color: #bebebe;
}

main .main-item-header .item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .main-item-header .item-title h2 {
  position: relative;
  font-size: 16px;
  height: 40px;
  width: 176px;
  border: 1px solid #e0e0e0;
  text-align: center;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 6px;
}

main .main-item-header .item-title h2::after {
  position: absolute;
  top: 50%;
  left: -110%;
  content: "";
  display: block;
  height: 0px;
  width: 210px;
  border-bottom: 1px solid #e0e0e0;
}

main .main-item-header .item-title h2::before {
  position: absolute;
  top: 50%;
  left: 90%;
  content: "";
  display: block;
  height: 0px;
  width: 210px;
  border-bottom: 1px solid #e0e0e0;
}

main .main-item-header .item-title p {
  font-size: 10px;
  color: #a2a2a2;
}

main .content-box .living .living-content {
  position: relative;
  width: 100%;
  height: 80%;
}

main .content-box .living .living-content .list-nav-living ul {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

main .content-box .living .living-content .list-nav-living ul li {
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 2px 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #acacac;
  font-size: 12px;
}

main .content-box .living .living-content .icon-i i:first-child {
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  color: #fff;
  transform: translateY(-50%);
  left: 0;
  margin-left: 60px;
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 28px;
}

main .content-box .living .living-content .icon-i i:last-child {
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  color: #fff;
  transform: translateY(-50%);
  right: 0;
  margin-right: 60px;
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 28px;
}

main .content-box .living .living-content .img-text p {
  position: absolute;
  left: 320px;
  bottom: 120px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  width: 647px;
  text-align: right;
}

main .content-box .living .living-content img {
  width: 100%;
  height: 100%;
}

main .content-box .living .living-content .img-second {
  position: absolute;
  right: 198px;
  bottom: 88px;
  width: 300px;
  height: 300px;
}

main .content-box .living .living-content .img-first {
  position: absolute;
  right: 370px;
  bottom: 206px;
  width: 968px;
  height: 448px;
}
