@font-face {
  font-family: "iconfont"; /* Project id 3448294 */
  src: url('iconfont.woff2?t=1654303593366') format('woff2'),
       url('iconfont.woff?t=1654303593366') format('woff'),
       url('iconfont.ttf?t=1654303593366') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e63f";
}

.icon-jiantou1:before {
  content: "\e600";
}

