@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #ecf2f2;
}
.header {
  width: 1110px;
  height: 34px;
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemsBox {
  position: relative;
  margin: 100px auto;
  box-sizing: border-box;
  width: 1391px;
  height: 516px;

  display: flex;
  /* background-color: #ecf2f2; */
  /* background-color: pink; */
}
.videoItem {
  box-sizing: border-box;
  width: 1110px;
  height: 470px;
  /* background-color: skyblue; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.videoList {
  box-sizing: border-box;
  width: 268px;
  height: 470px;

  /* background-color: pink; */
}

.videoBox .item {
  width: 268px;
  height: 151px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  /* background-color: pink; */
}

.item img {
  width: 100%;
  height: 100%;
}
.itembox #videoId {
  margin-top: 10px;
  line-height: 30px;
}

#videoId {
  font-size: 14px;
}
#video-seriesId {
  font-size: 10px;
  color: #ccc;
}

.position {
  position: absolute;
  font-size: 13px;
  color: #ecf2f2;
  bottom: 5px;
  font-weight: 600;
}
.play {
  left: 4px;
}
.zhuifan {
  right: 10px;
}
.items-box {
  display: flex;
  margin-left: 9px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.items-box li {
  width: 100%;
  height: 52px;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.items-box li:nth-child(even) {
  background-color: #ebeced;
}
.items-box li:first-child {
  height: 86px;
}

.items-box li img {
  width: 90px;
  border-radius: 6px;
  margin-left: 5px;
  height: 56px;
}

.items-box li strong {
  color: red;
  display: block;
  font-size: 14px;
  width: 15px;
}

.items-box li:nth-child(2) strong {
  color: orangered;
}

.items-box li:nth-child(3) strong {
  color: orange;
}

.items-box li:nth-child(n + 3) strong {
  color: #ccc;
}
.items-box li p {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}
.video-list-header {
  width: 268px;
  box-sizing: border-box;
  height: 34px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}
.video-list-header button {
  width: 58px;
  height: 35px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #d8dadc;
}

.video-list-header button::after {
  content: '>';
}

.video-list-header h1 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 500;
}

.header button {
  width: 58px;
  height: 35px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #d8dadc;
}
.header #btn::after {
  content: '>';
}
.header button::before {
  content: '>';
}
.header .bcgd {
  width: 100px !important;
}

.donghua {
  flex-grow: 1;
  font-weight: 500;
}
.img {
  width: 20px;
  height: 20px;
  background-color: pink;
  margin: 0 15px 0 8px;
}

.button-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-more button {
  margin: 0 15px;
}