@import './comm';


.content_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 78.67vw;
  height: 111.87vw;
  box-sizing: border-box;
  margin: 22.67vw auto;
  background-color: var(--main-backgroundColor-);
  box-shadow: 0vw 0.53vw 1.77vw #000;
  border-radius: 1.33vw;
  padding: 0 3.73vw;

  .qr_code_box {
    width: 35.33vw;
    height: 35.33vw;
    border: solid 0.53vw var(--main-font-color-);
  }

  h5 {
    font-size: 3.47vw;
    color: var(--main-font-color-);
    text-indent: 10vw;
    margin-top: 5vw;
  }

  .user_title {
    position: relative;
    align-self: flex-start;
    height: 1vw;
    text-align: center;
    margin-top: 10vw;

    &::after {
      content: '';
      display: block;
      width: calc(78.67vw / 2 - 1vw);
      border-bottom: 1px solid #000;
    }

    &::before {
      position: absolute;
      right: 0;
      content: ':';

    }
  }

  .save_btn {
    width: 24.93vw;
    height: 7.6vw;
    border-radius: 3.8vw;
    color: var(--main-color-one-);
    background-color: #fff;
    font-size: 3.2vw;
    box-shadow: 0vw 0.53vw 0.56vw 0.11vw rgba(0, 0, 0, 0.39);
  }

  .prompt {
    font-size: 3.47vw;
    color: var(--main-font-color-);

    line-height: 5.6vw;
  }
}