@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;

}

img {
  border: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
header {
  width: 100%;
	height: 4.167vw;
  box-sizing: border-box;
  background-color: #1c1c23;
  display: flex;
  align-items: center;
  padding: 0 54px 0 63px;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      img {
        width: 8vw;
	      height: 2vw;
      }
    }
  }
  .center {
    display: flex;
    // background-color: blue;
    justify-content: center;
    flex-grow: 1;
    ul {
      display: flex;
      align-items: center;
      li {
        font-size: 1vw;
        color: #ffffff;
	      opacity: 0.4;
        margin-right: 2vw;
      }
      :first-child {
        color: #704aff;
        opacity: 1;
      }
    }
  }
  .right {
    i {
      font-size: 1vw;
      color: #fff;
      opacity: .4;
    }
  }
}


footer {
  height: 730px;
  width: 100%;
	background-color: #222222;
  box-sizing: border-box;
  padding: 0 246px 0 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 147px;
    margin-top: 122px;
    box-sizing: border-box;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 30px;
      color: #ededed;
      font-size: 18px;
      li {
        color: #fff;
      }
      :first-child {
        margin-bottom: 40px;
        color: #4f4f4f;
        letter-spacing:"4px"
      }
    }
  }

  .center-list {
    width:100vw;
    height: 111px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 42px;
    ul {
      width: 1112px;
      height: 32px;
      display: flex;
      justify-content: center;
      :last-child {
        margin-right: 0;
      }
      li {
        margin-right: 187px;
        i {
          color: #404040;
          font-size: 32px;
        }
      }
    }
  }

  .bottom {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      height: 116px;
      line-height: 116px;
      font-size: 16px;
      color: #404040;
    }
  }
}