.left {
  float: left;
  width: 200px;
  height: 500px;
  background-color: black;
}

.right {
  float: right;
  width: 200px;
  height: 500px;
  background-color: blue;
}

.center {
  overflow: hidden;
  height: 800px;
  background-color: red;
}
