@charset "UTF-8";
@import "_common";


main {
  .title {
    position: relative;
    border-bottom: 1px solid #ccc;
    background-color: #f7f5f5;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 396px;
    margin-bottom: 85px;
    span {
      margin-top: 100px;
      font-size: 18px;
      color: #704aff;
      margin-bottom: 36px;
    }

    h1 {
      color: #303030;
      font-size: 57px;
      margin-bottom: 35px;
    }

    p {
      color: #888;
      font-size: 18px;
      margin-bottom: 40px;
    }

    .list {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        li {
          color: #626262;
          font-size: 18px;
          border-bottom: 1px solid #704aff;
          margin-right: 40px;
          width: 86px;
          height: 35px;
          text-align: center;
        }
      }
    }
  }

  .content-list {
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      justify-content: space-between;
      width: 83.333vw;
      height: 14.74vw;
      align-items: center;
      flex-wrap: wrap;
      width: 1600px;
      li {
        width: 18.75vw;
        margin-bottom: 90px;
        img {
          width: 18.75vw;
          height: 12.5vw;
        }
        .text-list {
          box-sizing: border-box;
          p {
            float: left;
            font-size: 0.833vw;
          }
          span {
            float: right;
            font-size: 0.833vw;
          }
          
        }
      }
    }
  }
}