@charset "UTF-8";
@import "_common";

.big-img {
  width: 100vw;

  img {
    width: 100vw;
    height: 100vh;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-one {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 62.5vw;

      span {
        font-size: 1.146vw;
        color: #888;
        margin-top: 2.031vw;
      }

      h4 {
        font-size: 1.25vw;
        color: #000;
        opacity: .5;
        margin-bottom: 1.667vw;
        margin-top: 1.615vw;
      }

      h1 {
        font-size: 2.5vw;
        color: #303030;
        margin-top: 3.698vw;
      }

      p {
        font-size: 0.938vw;
        text-align: center;
        line-height: 1.25vw;
        color: #888;
      }
    }

    .picture {
      width: 62.5vw;
      height: 39.063vw;
      margin-top: 3.021vw;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-two {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2.969vw;

    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3.229vw;

      h1 {
        font-size: 1.875vw;
      }

      .box {
        width: 14.01vw;
        height: 5.208vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.24vw;

        i {
          color: #888;
        }

        span {
          display: block;
          text-align: center;
          line-height: 5.208vw;
          border-radius: 50%;
          color: #888;
          font-size: 1.25vw;
          width: 5.208vw;
          height: 5.208vw;
          border: 1px solid #888;
        }
      }
    }

    .picture {
      width: 62.5vw;
      height: 39.063vw;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-three {
    margin: 4.271vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 1.875vw;
      }

      .textures-list {
        margin-top: 2.604vw;
        margin-bottom: 3.594vw;

        ul {
          display: flex;

          li {
            margin-right: 4.271vw;
            width: 5.108vw;
            height: 5.108vw;
            border-radius: 50%;
            border: solid 0.104vw #704aff;
            overflow: hidden;

            img {
              width: 5.208vw;
              height: 5.208vw;
            }
          }
        }
      }
    }

    .picture {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
      }

      .top-img {
        width: 62.5vw;
        height: 39.063vw;
      }

      .bottom-img {
        display: flex;
        justify-content: center;
        margin-top: 1.042vw;

        img {
          width: 30.729vw;
          height: 19.531vw;
        }
      }
    }
  }

  .content-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.271vw;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2.708vw;

      h1 {
        text-align: center;
        font-size: 1.875vw;
        margin-bottom: 0.833vw;
      }

      p {
        color: #888;
        font-size: 0.938vw;
      }
    }

    .picture {
      width: 62.5vw;
      height: 39.063vw;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .link-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 62.5vw;
    height: 13.177vw;
    margin-bottom: 4.479vw;

    .btn-box {
      button {
        border: none;
        width: 15.625vw;
        height: 3.125vw;
        background-color: #704aff;
        border-radius: 1.563vw;
        font-size: 0.938vw;
        color: #fff;
      }
    }

    .link {
      ul {
        width: 14.375vw;
        height: 2.969vw;
        display: flex;
        justify-content: space-between;

        li {
          width: 2.1vw;
          height: 2.1vw;
          border-radius: 10%;
          border: 1px solid #000;

          i {
            text-align: center;
            line-height: 2.169vw;
            padding-left: .5vw;
            font-size: 1.2vw;
          }
        }
      }
    }
  }

  .content-six {
    position: relative;
    width: 83.333vw;
    height: 24.688vw;
    margin-bottom: 8.438vw;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .7;
      z-index: 4;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      z-index: 6;

      h1 {
        text-align: center;
        font-size: 3.75vw;
      }

      p {
        text-align: center;
        font-size: 2.5vw;
      }
    }

    .btn-box {
      .left,.right {
        width: 3.542vw;
        height: 3.542vw;
        border-radius: 50%;
        background-color: #704aff;
        opacity: .8;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: #fff;
          font-size: 0.938vw;
        }
      }
      .left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.979vw;
        z-index: 6;
      }
      .right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right:  1.979vw;
        z-index: 6;
      }
    }
  }

  .content-seven {
    margin-bottom: 4.531vw;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4.01vw;
     h1 {
      font-size: 3.125vw;
      color: #1a1a1a;
      margin-bottom: 1.458vw;
     }
     p {
      font-size: 1.25vw;
      color: #704aff;
     }
    }
    .list-picture {
      display: flex;
      ul {
        display: flex;
        justify-content: space-between;
        width: 83.333vw;
	      height: 14.74vw;
        li {
          width: 18.75vw;
          img {
            width: 18.75vw;
	          height: 12.5vw;
          }
          .text-list {
            box-sizing: border-box;
            p {
              float: left;
              font-size: 0.833vw;
            }
            span {
              float: right;
              font-size: 0.833vw;
            }
            
          }
        }
      }
    }
  }
}