:root { --main-color-one-: #0057c1; --main-backgroundColor-: rgba(255, 255, 255, 0.5); --main-font-color-: #434242; }

body { overflow: hidden; }

* { margin: 0; padding: 0; list-style: none; text-decoration: none; border: none; }

.bgc_img_box { position: absolute; bottom: 0; left: 0; height: 700px; width: 100vw; background: url("../assets/images/bgc.png"); background-size: cover; z-index: -1; }

.content_box { display: flex; flex-direction: column; justify-content: space-around; align-items: center; width: 78.67vw; height: 111.87vw; margin: 22.67vw auto; background-color: var(--main-backgroundColor-); box-shadow: 0vw 0.53vw 1.77vw #000; border-radius: 1.33vw; }
.content_box .select { position: relative; width: 30.13vw; height: 3.6vw; align-self: flex-start; text-align: center; line-height: 3.6vw; font-size: 4vw; color: var(--main-color-one-); margin-left: 6.93vw; margin-top: 10vw; }
.content_box .select .icon { position: absolute; top: 50%; transform: translate(100%, -50%); right: 0; text-align: center; }
.content_box .select ul { display: flex; height: 40.6vw; overflow-y: scroll; flex-direction: column; border-radius: 2vw; background-color: var(--main-backgroundColor-); display: none; }
.content_box .select ul :first-child { margin-top: 10px; }
.content_box .select ul li { margin-bottom: 10px; }
.content_box .appointment_box { overflow: scroll; }
.content_box .appointment_box tbody { overflow: scroll; display: block; width: 60vw; height: 40vw; }
.content_box .appointment_box tr { display: flex; justify-content: center; margin: 5vw auto; }
.content_box .appointment_box th { width: 30vw; font-size: 3.47vw; color: var(--main-color-one-); }
.content_box .appointment_box td { text-align: center; width: 30vw; font-size: 3.47vw; color: var(--main-font-color-); }
.content_box .appointment_box td button { width: 18vw; height: 6vw; border-radius: 10vw; background-color: skyblue; }
.content_box .prompt { font-size: 3.47vw; color: var(--main-font-color-); margin-bottom: 20vw; }
