:root { --main-color-one-: #0057c1; --main-backgroundColor-: rgba(255, 255, 255, 0.5); --main-font-color-: #434242; }

body { overflow: hidden; }

* { margin: 0; padding: 0; list-style: none; text-decoration: none; border: none; }

.bgc_img_box { position: absolute; bottom: 0; left: 0; height: 700px; width: 100vw; background: url("../assets/images/bgc.png"); background-size: cover; z-index: -1; }

.main { width: 78.67vw; height: 74.53vw; margin: 26.68vw auto; display: flex; flex-direction: column; justify-content: space-between; }
.main .title { color: var(--main-color-one-); font-size: 4vw; line-height: 5.6vw; }
.main .msg_box { width: 78.67vw; height: 50.67vw; background-color: var(--main-backgroundColor-); box-shadow: 0vw 0.53vw 1.77vw 0.63vw rgba(0, 0, 0, 0.3); border-radius: 1.33vw; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.main .msg_box .user_name { margin-bottom: 10.13vw; }
.main .msg_box p { letter-spacing: 0.2vw; color: var(--main-font-color-); font-size: 4vw; }
